.container {
  flex-direction: column;
}
aside {
  height: 25%;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.innerDiv {
  flex-direction: row;
  height: 100%;
  padding: 1rem;
}

.correct,
.inCorrect {
  width: 60px;
}

.welcome {
  font-size: 18px;
}

.names {
  font-size: 10px;
}
