.container {
  flex-direction: column;
  justify-content: space-between;
}
aside {
  height: 25%;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
main {
  height: 100%;
}
.innerDiv {
  flex-direction: row;
  height: 100%;
  padding: 1rem;
}

.correct,
.inCorrect {
  width: 60px;
  font-size: 18px;
}

.welcome {
  font-size: 20px;
}

.names {
  font-size: 12px;
}
.timer,
.reset {
  font-size: 20px;
}
#cards {
  width: 100%;
  height: 80%;
  gap: 0.6rem;
}
